<!--{{ $avatar_jpg := resources.Get "portfolio_assets/images/avatar.jpg"}}-->
{{ $avatar_jpg := resources.Get "portfolio_assets/images/logo.png"}}
{{ $baseImagePath := .Site.Params.portfolioImagePath }}



<!DOCTYPE HTML>
<html>
    <head>
        <title>All Projects</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {{ $portfolio_style := resources.Get "css/main.css" }}
        <link rel="stylesheet" href=" {{ $portfolio_style.RelPermalink }}"/>
    </head>

	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/portfolio/about" class="image avatar"><img src="{{ $avatar_jpg.RelPermalink }}" alt="cant find image" /></a>
					<h1> some good line for heading</h1> <br/>
						
						Engineering student, interested in language learning, AI and Data Science <br/>
					
					
					{{ partial "navbar2_menu.html" }}
					
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<!-- heading -->
					<section id="heading">
						<header class="major">
							<h2>All Projects</h2>
						</header>
					</section>

            <!-- The projects -->
                    <section id="projects">
						
							<!-- Begin actual content -->
								<div class="section-ul">
									<!-- Retrieve the "portfolio" section's pages -->
									{{ $portfolio := .Site.GetPage "section" "portfolio" }}
									
									{{ range $portfolio.Pages.ByLastmod.Reverse }}
									<li class="section-li">
										<div class="section">
											<p class="meta">
												{{partial "date-fmt.html" .}}
											</p>
											<!-- Display the title and any other relevant information -->
											<div class="desc">
												<h3><a href="{{ .Permalink }}" class="internal-link" data-src="{{ .RelPermalink }}">{{ .Title }}</a></h3>
											</div>
											<div class="spacer"></div>
											<ul class="tags">
												{{ range (.GetTerms "tags") }}
												<li><a href="{{ .Permalink }}">{{ .LinkTitle | title}}</a></li>
												{{ end }}
											</ul>
										</div>
									</li>
									{{ end }}
								</ul>
                    </section>
			</div>

		<!-- Footer -->
			<footer id="footer">

				
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/alexander-nilsson-887003151/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://twitter.com/alexand27264042" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/Alexnder77" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
            {{ $jquery_min_js := resources.Get "js/jquery.min.js" }}
            {{ $browser_min_js := resources.Get "js/browser.min.js" }}
            {{ $breakpoints_min_js := resources.Get "js/breakpoints.min.js" }}
            {{ $util_js := resources.Get "js/util.js" }}
            {{ $main_js := resources.Get "js/main.js" }}

			<script src="{{ $jquery_min_js.RelPermalink }}"></script>
			<script src="{{ $browser_min_js.RelPermalink }}"></script>
			<script src="{{ $breakpoints_min_js.RelPermalink }}"></script>
			<script src="{{ $util_js.RelPermalink }}"></script>
			<script src="{{ $main_js.RelPermalink }}"></script>
	</body>

</html>



<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}
<style>
	[saved-theme=dark] {
	--light: #faf8f8 !important;
    --dark: #141021 !important;
    --secondary: #284b63 !important;
    --tertiary: #84a59d !important;
    --visited: #afbfc9 !important;
    --primary: #f28482 !important;
    --gray: #4e4e4e !important;
    --lightgray: #f0f0f0 !important;
    --outlinegray: #dadada !important;
    --million-progress-bar-color: var(--secondary) !important;
    --highlighted: #f5dfaf88 !important;
}
header {
    margin: 0;
}

#projects {
  padding: 0px !important;
}

</style>

</html>





