{{ $avatar_jpg := resources.Get "portfolio_assets/images/avatar.jpg"}}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Prodject Portfolio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {{ $portfolio_style := resources.Get "css/main.css" }}
        <link rel="stylesheet" href=" {{ $portfolio_style.RelPermalink }}"/>
    </head>

	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="{{ $avatar_jpg.RelPermalink }}" alt="" /></a>
					<h1>Engeenering student, interested in language learning, AI and Data Science <br/>
					</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<!-- heading -->
					<section id="heading">
						<header class="major">
							<h2>This site contains some of my Prodjects</h2>
						</header>
						<p>Here I should have some text about my prodjects</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- The prodjects -->
					<section id="Prodjects">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="prodject1.html" class="image fit thumb"><img src="/content/portfolio/images/01.jpg" alt="" /></a>
								<h3>Prodject 1.</h3>
								<p>description prodject one</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/02.jpg" class="image fit thumb"><img src="/content/portfolio/images/02.jpg" alt="" /></a>
								<h3>Prodject 2.</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="/content/portfolio/images/03.jpg" alt="" /></a>
								<h3>Prodject 3.</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/04.jpg" class="image fit thumb"><img src="/content/portfolio/images/04.jpg" alt="" /></a>
								<h3>Quam neque phasellus</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/05.jpg" class="image fit thumb"><img src="/content/portfolio/images/05.jpg" alt="" /></a>
								<h3>Nunc enim commodo aliquet</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/06.jpg" class="image fit thumb"><img src="/content/portfolio/images/06.jpg" alt="" /></a>
								<h3>Risus ornare lacinia</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="#" class="button">Full Portfolio</a></li>
						</ul>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/alexander-nilsson-887003151/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://twitter.com/alexand27264042" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/Alexnder77" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
            {{ $jquery_min_js := resources.Get "js/jquery.min.js" }}
            {{ $browser_min_js := resources.Get "js/browser.min.js" }}
            {{ $breakpoints_min_js := resources.Get "js/breakpoints.min.js" }}
            {{ $util_js := resources.Get "js/util.js" }}
            {{ $main_js := resources.Get "js/main.js" }}

			<script src="{{ $jquery_min_js.RelPermalink }}"></script>
			<script src="{{ $browser_min_js.RelPermalink }}"></script>
			<script src="{{ $breakpoints_min_js.RelPermalink }}"></script>
			<script src="{{ $util_js.RelPermalink }}"></script>
			<script src="{{ $main_js.RelPermalink }}"></script>
	</body>
</html>

