{{ $baseImagePath := .Site.Params.portfolioImagePath }}
{{ $excludedFileNames := slice "_index" "portfolio_list" "about" }}


<!DOCTYPE HTML>
<html>
    <head>
        <title>Prodject Portfolio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {{ $portfolio_style := resources.Get "css/main.css" }}
        <link rel="stylesheet" href=" {{ $portfolio_style.RelPermalink }}"/>
    </head>

	<body class="is-preload">

		<!-- Header -->
		{{ partial "portfolio_header.html" }}

		<!-- Main -->
			<div id="main">
				<!-- heading -->
					<section id="heading">
						<header class="major">
							<h2>This site contains some of my Projects</h2>
						</header>
						<p>Here I should have some text about my projects</p>
						<ul class="actions">
							<li><a href="/portfolio/about" class="button">Learn More</a></li>
						</ul>
					</section>

            <!-- The projects -->
                    <section id="projects">
                        <h2>Recent Work</h2>
                        <div class="row">
						{{ $portfolio := .Site.GetPage "section" "portfolio" }}	
						{{ range $portfolio.Pages.ByLastmod.Reverse }}
                        {{ if not (in $excludedFileNames .File.BaseFileName) }}
                        <article class="col-6 col-12-xsmall work-item">
							
							{{ $img_path := resources.Get ( .Params.thumbnail ) }}
							
							<a href="{{ .Permalink }}" class="image fit thumb">
								<img src="{{ $img_path.RelPermalink }}" alt="{{ .Params.alt }}" />
							</a>
                            <h3>{{ .Title }}</h3>
                            <p>{{ .Description }}</p>
                        </article>
                        {{ end }}
                       
                        {{ end }}
                        </div>


						
                        <ul class="actions">
                            <li><a href="/portfolio/portfolio_list" class="button">Full Portfolio</a></li>
                        </ul>
					
                    </section>
			</div>

		<!-- Footer -->
		{{ partial "portfolio_footer.html" }}
	</body>
</html>

