<!DOCTYPE html>
<html lang="{{ .Lang }}">

<style>
    /* Adjust layout for text and TOC container */
    .singlePage {
        display: flex;
        flex-wrap: wrap;
    }

    
    .singlePage > div {
        flex: 1; /* Apply flex: 1 to all direct children of .singlePage */
        margin-right: 20px; /* Add some space between the text and TOC */
    }



</style>

    {{ partial "head.html" . }}

    <body>
    {{partial "search.html" .}}

    <div class="singlePage">
    <!-- Begin actual content -->
    <div>
    {{partial "header_article.html" .}} 
        <article>
            {{partial "textprocessing.html" . }}
        </article>
    </div>
            <!-- Table of Contents-->
    {{ if .Params.toc }}
    <aside class="tableOfContentContainer" id="tableOfContentContainer">
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
    </aside>
    {{ end }}



    </div>



    <!-- {{partial "footerIndex.html" .}} -->
        {{partial "contact.html" .}}
    </div>
    </body>
</html>

