<style>
    /* Styling for the navbar menu */
    .navbar2-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        display: flex;
        justify-content: center;
        min-width: 272px;
    }
    
    /* Styling for the navbar menu items */
    .navbar2-menu li {
        margin-left: 20px;
    }
    
    /* Styling for the navbar menu links */
    .navbar2-menu li a {
        /*color: #fff;*/
        text-decoration: none;
        font-size: 16px;
        display: flex;
    }
    
    /* Styling for the navbar menu links on hover */
    .navbar2-menu li a:hover {
        text-decoration: underline;
    }
    </style>
    
    <ul class="navbar2-menu">
        <li><a href="/portfolio">Portfolio Home</a></li>
        <li><a href="/portfolio/about">About</a></li>
        <li><a href="/notes/">Notes</a></li>
    </ul>
    