{{ $avatar_jpg := resources.Get "portfolio_assets/images/logo.png"}}

<header id="header">
    <div class="inner">
        <a href="/portfolio/about" class="image avatar"><img src="{{ $avatar_jpg.RelPermalink }}" alt="cant find image" /></a>
        <h1> Alexander Nilsson</h1> <br/>
        My Portfolio site where I showcase different prodjects I've been working on usually in the feilds of Data Science, AI, and Industrial Engineering <br/>
        {{ partial "navbar2_menu.html" }}
        
    </div>
</header>